# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
.vinxi
.output
.vercel
.netlify
.wrangler

# IDE
.vscode/*
!.vscode/extensions.json
.idea

.env


# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts


# Next.js build output
.next
.next/
out