@font-face {
  font-family: "Airbnb Cereal";
  src: url("/fonts/AirbnbCereal_W_Lt.woff2") format("woff2"),
    url("/fonts/AirbnbCereal_W_Lt.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Airbnb Cereal";
  src: url("/fonts/AirbnbCereal_W_Bk.woff2") format("woff2"),
    url("/fonts/AirbnbCereal_W_Bk.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Airbnb Cereal";
  src: url("/fonts/AirbnbCereal_W_Md.woff2") format("woff2"),
    url("/fonts/AirbnbCereal_W_Md.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Airbnb Cereal";
  src: url("/fonts/AirbnbCereal_W_Bd.woff2") format("woff2"),
    url("/fonts/AirbnbCereal_W_Bd.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "Airbnb Cereal";
    src: url("/fonts/AirbnbCereal_W_XBd.woff2") format("woff2"),
      url("/fonts/AirbnbCereal_W_XBd.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

@font-face {
  font-family: "Airbnb Cereal";
  src: url("/fonts/AirbnbCereal_W_Blk.woff2") format("woff2"),
    url("/fonts/AirbnbCereal_W_Blk.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


